#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  text-align: center;
  --red:#d01c28;
  --grey:#2e2e2e;
}
body{
  font-family: "Poppins",sans-serif;
  
}
button{
  all: unset;
  padding: 6px,16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
nav{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
  /* background-color: #2e2e2e; */
}
nav ul{
  display: flex;
  list-style: none;
  gap:24px;

}
.hero{
  display: flex;
align-items: center;
height: 100vh-72px;
}
.hero h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
 
}
.hero p{
   color: var(--grey);
   font-weight: 600;
   max-width: 400px;
}
.hero-btn{
  display: flex;
  gap: 40px;
  
}
.hero-btn button{
  font-size: 24px;
  
}
.secondary-section{
  background: transparent;
  color: var(--grey);
  border: 1px solid gray;

}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons{
  display: flex;

}